@media only screen and (max-width: 1000px){
		.header_bottom {
		background-color: #3e333f;
	}
				}
@media only screen and (min-width: 480px) and (max-width: 768px){
	
	        section.parallax_section_holder{
			height: auto !important;
			min-height: 400px;
		}
		}
@media only screen and (max-width: 768px){
	
	
	
	
	
	
	
	
	
	
	
	
	
}
@media only screen and (max-width: 600px) {
	
	
	
	
	
	
	
	
	
	
	}
@media only screen and (max-width: 480px){

			section.parallax_section_holder {
			height: auto !important;
			min-height: 400px;
		}
	
		
	}