.extended-custom-icon-qode.vc_element-icon {
    background-image: url("images/vc-extend.png");
	background-size: auto;
    height: 32px;
    width: 32px;
}

.extended-custom-icon-qode.icon-wpb-blockquote{
	background-position:0 0;
}
.extended-custom-icon-qode.icon-wpb-masonry_blog{
	background-position:-32px 0;
}
.extended-custom-icon-qode.icon-wpb-blog-slider {
  	background-position: -64px 0;
}
.extended-custom-icon-qode.icon-wpb-button {
  	background-position: -96px 0;
}
.extended-custom-icon-qode.icon-wpb-action{
	background-position:-128px 0;
}
.extended-custom-icon-qode.icon-wpb-countdown{
	background-position:-160px 0;
}
.extended-custom-icon-qode.icon-wpb-counter{
	background-position:-192px 0;
}
.extended-custom-icon-qode.icon-wpb-cover_boxes{
	background-position:-224px 0;
}
.extended-custom-icon-qode.icon-wpb-custom_font{
	background-position:-256px 0;
}
.extended-custom-icon-qode.icon-wpb-google-map{
	background-position:-288px 0;
}
.extended-custom-icon-qode.icon-wpb-icons{
	background-position:-320px 0;
}
.extended-custom-icon-qode.icon-wpb-icon_list_item{
	background-position:-352px 0;
}
.extended-custom-icon-qode.icon-wpb-icon_text {
  	background-position: -384px 0;
}
.extended-custom-icon-qode.icon-wpb-image_hover{
	background-position:-416px 0;
}
.extended-custom-icon-qode.icon-wpb-image_with_text{
	background-position:-448px 0;
}
.extended-custom-icon-qode.icon-wpb-image_with_text_over{
	background-position:-480px 0;
}
.extended-custom-icon-qode.icon-wpb-latest_post{
  	background-position: -512px 0;
}
.extended-custom-icon-qode.icon-wpb-latest_post_two{
	background-position:-544px 0;
}
.extended-custom-icon-qode.icon-wpb-line_graph{
	background-position:-576px 0;
}
.extended-custom-icon-qode.icon-wpb-ordered_list{
	background-position:-608px 0;
}
.extended-custom-icon-qode.icon-wpb-unordered_list{
	background-position:-640px 0;
}
.extended-custom-icon-qode.icon-wpb-masonry_gallery{
	background-position:-672px 0;
}
.extended-custom-icon-qode.icon-wpb-message{
	background-position:-704px 0;
}
.extended-custom-icon-qode.icon-wpb-parallax-layers{
	background-position:-736px 0;
}
.extended-custom-icon-qode.icon-wpb-pie_chart{
	background-position:-768px 0;
}
.extended-custom-icon-qode.icon-wpb-pie_chart2{
	background-position:-800px 0;
}
.extended-custom-icon-qode.icon-wpb-pie_chart3{
	background-position:-832px 0;
}
.extended-custom-icon-qode.icon-wpb-pie_chart_with_icon{
	background-position:-864px 0;
}
.extended-custom-icon-qode.icon-wpb-portfolio{
	background-position:-896px 0;
}
.extended-custom-icon-qode.icon-wpb-portfolio_slider{
  background-position: -928px 0;
}
.extended-custom-icon-qode.icon-wpb-progress_bar {
  	background-position: -960px 0;
}
.extended-custom-icon-qode.icon-wpb-progress_bar_icon {
  	background-position: -992px 0;
}
.extended-custom-icon-qode.icon-wpb-vertical_progress_bar {
  	background-position: -1024px 0;
}
.extended-custom-icon-qode.icon-wpb-qode_carousel {
  	background-position: -1056px 0;
}
.extended-custom-icon-qode.icon-wpb-images-stack {
  	background-position: -1088px 0;
}
.extended-custom-icon-qode.icon-wpb-qode_separator_with_icon {
  	background-position: -1120px 0;
}
.extended-custom-icon-qode.icon-wpb-service_table{
	background-position: -1152px 0;
}
.extended-custom-icon-qode.icon-wpb-social_icons{
	background-position: -1216px 0;
}
.extended-custom-icon-qode.icon-wpb-social_share{
	background-position: -1248px 0;
}
.extended-custom-icon-qode.icon-wpb-social_share_list{
	background-position: -1280px 0;
}
.extended-custom-icon-qode.icon-wpb-q_team{
	background-position: -1312px 0;
}
.extended-custom-icon-qode.icon-wpb-testimonials{
	background-position: -1344px 0;
}
.extended-custom-icon-qode.icon-wpb-testimonials-masonry{
	background-position: -1376px 0;
}
.extended-custom-icon-qode.icon-wpb-video-box{
	background-position: -1408px 0;
}
.extended-custom-icon-qode.icon-wpb-animation-holder{
	background-position: -1440px 0;
}
.extended-custom-icon-qode.icon-wpb-animated_icons_with_text{
	background-position: -1472px 0;
}
.extended-custom-icon-qode.icon-wpb-animated_icon_with_text_item{
	background-position: -1504px 0;
}
.extended-custom-icon-qode.icon-wpb-qode_circles{
	background-position: -1536px 0;
}
.extended-custom-icon-qode.icon-wpb-qode_circle{
	background-position: -1568px 0;
}
.extended-custom-icon-qode.icon-wpb-qode_clients{
	background-position: -1600px 0;
}
.extended-custom-icon-qode.icon-wpb-qode_client{
	background-position: -1632px 0;
}
.extended-custom-icon-qode.icon-wpb-qode_elements_holder{
	background-position: -1664px 0;
}
.extended-custom-icon-qode.icon-wpb-qode_elements_holder_item{
	background-position: -1696px 0;
}
.extended-custom-icon-qode.icon-wpb-qode_pricing_list{
	background-position: -1728px 0;
}
.extended-custom-icon-qode.icon-wpb-pricing_column{
	background-position: -1760px 0;
}
.extended-custom-icon-qode.icon-wpb-pricing_list_item{
	background-position: -1792px 0;
}
.extended-custom-icon-qode.icon-wpb-vertical_split_slider{
	background-position: -1824px 0;
}
.extended-custom-icon-qode.icon-wpb-vertical_split_left{
	background-position: -1856px 0;
}
.extended-custom-icon-qode.icon-wpb-vertical_split_right{
	background-position: -1888px 0;
}
.extended-custom-icon-qode.icon-wpb-qode_horizontal_marquee{
	background-position: -1920px 0;
}
.extended-custom-icon-qode.icon-wpb-qode_horizontal_marquee_item{
	background-position: -1952px 0;
}
.extended-custom-icon-qode.icon-wpb-qode_preview_slider{
	background-position: -1984px 0;
}
.extended-custom-icon-qode.icon-wpb-qode_preview_slider_item{
	background-position: -2016px 0;
}
.extended-custom-icon-qode.icon-wpb-product_list_elegant{
	background-position:-2176px 0;
}
.extended-custom-icon-qode.icon-wpb-qode_in_device_slider{
    background-position:-2048px 0;
}
.extended-custom-icon-qode.icon-wpb-qode_in_device_slider_item{
    background-position:-2080px 0;
}
.extended-custom-icon-qode.icon-wpb-product_list_masonry {
    background-position: -2240px 0;
}
.extended-custom-icon-qode.icon-wpb-testimonials-carousel {
    background-position: -2112px 0;
}
.extended-custom-icon-qode.icon-wpb-twitter-feed {
	background-position: -2144px 0;
}
.extended-custom-icon-qode.icon-wpb-qode_content_slider {
    background-position: -64px 0;
}
.extended-custom-icon-qode.icon-wpb-qode_content_slider_item {
    background-position: -64px 0;
}
.extended-custom-icon-qode.icon-wpb-product-list-pinterest {
	background-position: -32px 0;
}
.extended-custom-icon-qode.icon-wpb-banner {
	background-position: -2208px 0;
}

.extended-custom-icon-qode.icon-wpb-expanding-images {
	background-position: -2272px 0;
}
.extended-custom-icon-qode.icon-wpb-text-marquee {
	background-position: -2304px 0;
}
.extended-custom-icon-qode.icon-wpb-showcase {
	background-position: -2336px 0;
}
.extended-custom-icon-qode.icon-wpb-showcase-list-item {
	background-position: -2368px 0;
}
.extended-custom-icon-qode.icon-wpb-crossfade-images {
	background-position: -2400px 0;
}
.extended-custom-icon-qode.icon-wpb-crossfade-images {
	background-position: -2400px 0;
}
.extended-custom-icon-qode.icon-wpb-cards-slider {
	background-position: -2432px 0;
}
.extended-custom-icon-qode.icon-wpb-cards-slider-item {
	background-position: -2464px 0;
}
.extended-custom-icon-qode.icon-wpb-cards-gallery {
	background-position: -2496px 0;
}
.extended-custom-icon-qode.icon-wpb-call-to-action-section {
	background-position: -2528px 0;
}
.extended-custom-icon-qode.icon-wpb-button-v2 {
	background-position: -2560px 0;
}
.extended-custom-icon-qode.icon-wpb-tt-event-hours {
	background-position: -2592px 0;
}
.extended-custom-icon-qode.icon-wpb-tt-items-list {
	background-position: -2624px 0;
}
.extended-custom-icon-qode.icon-wpb-tt-item {
	background-position: -2656px 0;
}
.extended-custom-icon-qode.icon-wpb-advanced-pricing-table {
	background-position: -2688px 0;
}
.extended-custom-icon-qode.icon-wpb-advanced-pricing-table {
	background-position: -2688px 0;
}
.extended-custom-icon-qode.icon-wpb-advanced-tabs {
	background-position: -2720px 0;
}
.extended-custom-icon-qode.icon-wpb-advanced-tab {
	background-position: -2752px 0;
}
.extended-custom-icon-qode.icon-wpb-blog-carousel-titled {
	background-position: -2784px 0;
}
.extended-custom-icon-qode.icon-wpb-call-to-action-section {
	background-position: -2816px 0;
}
.extended-custom-icon-qode.icon-wpb-comparative-features-table {
	background-position: -2848px 0;
}
.extended-custom-icon-qode.icon-wpb-elliptical-slider {
	background-position: -2880px 0;
}
.extended-custom-icon-qode.icon-wpb-elliptical-slide {
	background-position: -2912px 0;
}
.extended-custom-icon-qode.icon-wpb-image-with-icon-and-text {
	background-position: -2944px 0;
}
.extended-custom-icon-qode.icon-wpb-info-card {
	background-position: -2976px 0;
}
.extended-custom-icon-qode.icon-wpb-info-card-with-icon {
	background-position: -3008px 0;
}
.extended-custom-icon-qode.icon-wpb-interactive-icon-showcase {
	background-position: -3040px 0;
}
.extended-custom-icon-qode.icon-wpb-interactive-icon-showcase-item {
	background-position: -3072px 0;
}
.extended-custom-icon-qode.icon-wpb-pricing-calculator {
	background-position: -3104px 0;
}
.extended-custom-icon-qode.icon-wpb-specification-list {
	background-position: -3136px 0;
}
.extended-custom-icon-qode.icon-wpb-sliding-image-holder {
	background-position: -3168px 0;
}
.extended-custom-icon-qode.icon-wpb-numbered-process {
	background-position: -3200px 0;
}
.extended-custom-icon-qode.icon-wpb-numbered-process-item {
	background-position: -3232px 0;
}
.extended-custom-icon-qode.icon-wpb-accordion {
	background-position: -3264px 0;
}
.extended-custom-icon-qode.icon-wpb-accordion-tab {
	background-position: -3296px 0;
}
.extended-custom-icon-qode.icon-wpb-workflow {
	background-position: -3328px 0;
}
.extended-custom-icon-qode.icon-wpb-workflow-item {
	background-position: -3328px 0;
}
.extended-custom-icon-qode.icon-wpb-scrolling-image {
	background-position: -3424px 0;
}
.extended-custom-icon-qode.icon-wpb-product-list {
	background-position: -3392px 0;
}
.extended-custom-icon-qode.icon-wpb-listing-advanced-search{
	background-position: -3456px 0;
}
.extended-custom-icon-qode.icon-wpb-qode-listing-banner{
	background-position: -3488px 0;
}
.extended-custom-icon-qode.icon-wpb-qode-listing-blog-list{
	background-position: -3520px 0;
}
.extended-custom-icon-qode.icon-wpb-qode-listing-categories{
	background-position: -3552px 0;
}
.extended-custom-icon-qode.icon-wpb-qode-listing-list{
	background-position: -3584px 0;
}
.extended-custom-icon-qode.icon-wpb-qode-listing-packages{
	background-position: -3616px 0;
}
.extended-custom-icon-qode.icon-wpb-qode-listing-project-info{
	background-position: -3648px 0;
}
.extended-custom-icon-qode.icon-wpb-qode-listing-regions{
	background-position: -3680px 0;
}
.extended-custom-icon-qode.icon-wpb-qode-listing-search{
	background-position: -3712px 0;
}
.extended-custom-icon-qode.icon-wpb-qode-listing-simple-search{
	background-position: -3744px 0;
}
.extended-custom-icon-qode.icon-wpb-qode-listing-slider{
	background-position: -3776px 0;
}
.extended-custom-icon-qode.icon-wpb-qode-listing-testimonials{
	background-position: -3808px 0;
}
.extended-custom-icon-qode.icon-wpb-qode-layout1{
	background-position: -3840px 0;
}
.extended-custom-icon-qode.icon-wpb-qode-layout2{
	background-position: -3872px 0;
}
.extended-custom-icon-qode.icon-wpb-qode-layout3{
	background-position: -3904px 0;
}
.extended-custom-icon-qode.icon-wpb-qode-post-carousel1{
	background-position: -3936px 0;
}
.extended-custom-icon-qode.icon-wpb-qode-post-slider1{
	background-position: -3968px 0;
}
.extended-custom-icon-qode.icon-wpb-qode-video-layout1{
	background-position: -4000px 0;
}
.extended-custom-icon-qode.icon-wpb-qode-video-layout2{
	background-position: -4032px 0;
}
.extended-custom-icon-qode.icon-wpb-restaurant-menu-list{
	background-position: -4064px 0;
}  
.extended-custom-icon-qode.icon-wpb-reservation-form{
	background-position: -4096px 0;
} 
.extended-custom-icon-qode.icon-wpb-restaurant-timeline{
	background-position: -4128px 0;
}
.extended-custom-icon-qode.icon-wpb-working-hours{
	background-position: -4160px 0;
}
.extended-custom-icon-qode.icon-wpb-advanced-pricing-list{
	background-position: -4192px 0;
}
.extended-custom-icon-qode.icon-wpb-advanced-image-gallery{
	background-position: -4224px 0;
}
.extended-custom-icon-qode.icon-wpb-multi-device-showcase{
	background-position: -4256px 0;
}
.extended-custom-icon-qode.icon-wpb-report-sheet{
	background-position: -4288px 0;
}
.extended-custom-icon-qode.icon-wpb-simple-quote{
	background-position: -4320px 0;
}
.extended-custom-icon-qode.icon-wpb-vertical-separator{
	background-position: -4352px 0;
}
.extended-custom-icon-qode.icon-wpb-interest-rate-calculator{
	background-position: -4384px 0;
}
.extended-custom-icon-qode.icon-wpb-case-study-slider{
	background-position: -4416px 0;
}
.extended-custom-icon-qode.icon-wpb-split-scrolling-section{
	background-position: -4448px 0;
}
.extended-custom-icon-qode.icon-wpb-split-scrolling-section-left-panel{
	background-position: -4480px 0;
}
.extended-custom-icon-qode.icon-wpb-split-scrolling-section-right-panel{
	background-position: -4512px 0;
}
.extended-custom-icon-qode.icon-wpb-split-scrolling-section-content-item{
	background-position: -1952px 0;
}
.extended-custom-icon-qode.icon-wpb-horizontal-timeline{
	background-position: -4544px 0;
}
.extended-custom-icon-qode.icon-wpb-horizontal-timeline-item{
	background-position: -4576px 0;
}
.extended-custom-icon-qode.icon-wpb-album{
	background-position: -4608px 0;
}
.extended-custom-icon-qode.icon-wpb-album-player{
	background-position: -4640px 0;
}
.extended-custom-icon-qode.icon-wpb-albums{
	background-position: -4672px 0;
}
.extended-custom-icon-qode.icon-wpb-events{
	background-position: -4736px 0;
}
.extended-custom-icon-qode.icon-wpb-destinations-grid{
	background-position: -4768px 0;
}
.extended-custom-icon-qode.icon-wpb-tour-type-list{
	background-position: -4800px 0;
}
.extended-custom-icon-qode.icon-wpb-tours-carousel{
	background-position: -4832px 0;
}
.extended-custom-icon-qode.icon-wpb-tours-list{
	background-position: -4864px 0;
}
.extended-custom-icon-qode.icon-wpb-tours-filters{
	background-position: -4896px 0;
}
.extended-custom-icon-qode.icon-wpb-top-reviews-carousel{
	background-position: -4928px 0;
}
.extended-custom-icon-qode.icon-wpb-course-features-info{
	background-position: -4960px 0;
}
.extended-custom-icon-qode.icon-wpb-course-list{
	background-position: -4992px 0;
}
.extended-custom-icon-qode.icon-wpb-course-search{
	background-position: -5024px 0;
}
.extended-custom-icon-qode.icon-wpb-course-slider{
	background-position: -5056px 0;
}
.extended-custom-icon-qode.icon-wpb-course-table{
	background-position: -5088px 0;
}
.extended-custom-icon-qode.icon-wpb-instructor{
	background-position: -5120px 0;
}
.extended-custom-icon-qode.icon-wpb-instructor-list{
	background-position: -5152px 0;
}
.extended-custom-icon-qode.icon-wpb-instructor-slider{
	background-position: -5184px 0;
}
.wpb-layout-element-button .icon-wpb-woocommerce_order_tracking,
.wpb-layout-element-button .icon-wpb-add_to_cart,
.wpb-layout-element-button .icon-wpb-product,
.wpb-layout-element-button .icon-wpb-products,
.wpb-layout-element-button .icon-wpb-product_categories,
.wpb-layout-element-button .icon-wpb-product_category,
.wpb-layout-element-button .icon-wpb-recent_products,
.wpb-layout-element-button .icon-wpb-featured_products,
.wpb-layout-element-button .icon-wpb-woocommerce_messages,
.wpb-layout-element-button .icon-wpb-woocommerce_cart,
.wpb-layout-element-button .icon-wpb-woocommerce_checkout,
.wpb-layout-element-button .icon-wpb-woocommerce_my_account,
.wpb-layout-element-button .icon-wpb-woocommerce_edit_address,
.wpb-layout-element-button .icon-wpb-woocommerce_change_password,
.wpb-layout-element-button .icon-wpb-woocommerce_view_order,
.wpb-layout-element-button .icon-wpb-woocommerce_pay,
.wpb-layout-element-button .icon-wpb-woocommerce_thankyou{ 
	background-image: url('images/vc__woo_icon.png');
	background-position:0 0;
}

.wpb_qode_vertical_split_slider > .wpb_element_wrapper > .vc_container_for_children{
    overflow: hidden;
}

.wpb_qode_vertical_left_sliding_panel{
    width: 50%;
    float: left;
    clear: left;
}

.wpb_qode_vertical_right_sliding_panel{
    width: 50%;
    float: right;
    clear: right;
}

.wpb_qode_vertical_split_slider > .controls > .column_edit,
.wpb_qode_vertical_left_sliding_panel > .controls > .column_edit,
.wpb_qode_vertical_right_sliding_panel > .controls > .column_edit{
    display: none;
}